compute_environment: LOCAL_MACHINE
debug: false
deepspeed_config:
  gradient_accumulation_steps: 1
  offload_optimizer_device: cpu
  offload_param_device: cpu
  zero3_init_flag: true
  zero3_save_16bit_model: true
  zero_stage: 3
distributed_type: DEEPSPEED
downcast_bf16: 'no'
enable_cpu_affinity: false
fp8_config:
  amax_compute_algorithm: max
  amax_history_length: 1024
  backend: TE
  fp8_format: HYBRID
  interval: 1
  margin: 0
  override_linear_precision:
  - false
  - false
  - false
  use_autocast_during_eval: true
machine_rank: 0
main_training_function: main
mixed_precision: fp8
num_machines: 1
num_processes: 4
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false



# 1. 模型路径
pretrained_model_name_or_path: "/app/cold1/Qwen-Image-Edit-2509" # e.g., "Qwen/Qwen-Image-Edit"
output_dir: "/app/code/texteditRoPE/qwenimage-style-control-output"

# 2. 训练参数
train_batch_size: 1
gradient_accumulation_steps: 1
max_train_steps: 1000
num_train_epochs: 4 # max_train_steps 会覆盖 epoch
learning_rate: 1.0e-4
lr_scheduler: "cosine" # "constant", "linear", "cosine", "cosine_with_restarts"
lr_warmup_steps: 0
adam_beta1: 0.9
adam_beta2: 0.999
adam_weight_decay: 1.0e-2
adam_epsilon: 1.0e-8
max_grad_norm: 1.0



# 4. 数据
data_config:
  train_data_dir: "/app/code/texteditRoPE/train_data_dir" # 包含 content_images, style_images等的目录
  # 如果你的文件夹名称不同，可以在这里指定
  # content_folder: "content_images"
  # style_folder: "style_images"
  # gt_folder: "ground_truth_images"
  # prompt_file: "prompts.txt"

dataloader_num_workers: 1

# 5. Pipeline 参数
style_scale: 3.0 # 训练时使用的风格强度

# 6. 日志和保存
logging_dir: "logs"
report_to: "wandb" # "wandb", "tensorboard"
checkpointing_steps: 10